In [3]:
for r in range(1,5+1):
    for c in range(1,r+1):
        print("$",end="")
    print()

$
$$
$$$
$$$$
$$$$$

In [4]:
for r in range(1,5+1):
    for c in range(1,6-r+1):
        print("#",end='')
    print()

#####
####
###
##
#

In [5]:
for r in range(1,5+1):
    for s in range(1,5-r+1):
        print(" ",end="")
    for c in range(1,r+1):
        print("$",end='')
    print()

    $
   $$
  $$$
 $$$$
$$$$$

In [6]:
for r in range(1,5+1):
    for s in range(1,r-1+1):
        print(" ",end = "")
    for c in range(1,6-r+1):
        print("$",end="")
    print()

$$$$$
 $$$$
  $$$
   $$
    $

# second method for print the pattern of star

In [2]:
for r in range(1,5+1):
    print(r*"%")

%
%%
%%%
%%%%
%%%%%

In [13]:
for r in range(5,0,-1):
    print(r*"%")

%%%%%
%%%%
%%%
%%
%

In [14]:
for r in range(1,5+1):
    print((5-r)*" "+r*"&")

    &
   &&
  &&&
 &&&&
&&&&&

In [16]:
for r in range(5,0,-1):
    print((5-r)*" "+r*"&")

&&&&&
 &&&&
  &&&
   &&
    &

In [24]:
# using  user input print a pattern 

n =int(input("enter a row:"))
for r in range(1,n+1):
    print(r*"&")

enter a row:5
&
&&
&&&
&&&&
&&&&&

In [2]:
# print pyramid pattewrn
def pyramid(num):
    for r in range(1,num+1):
        print(' '*(num-r)+"* "*(r))
pyramid(4)

   *
  * *
 * * *
* * * *

In [8]:
def pyramid(row):
    for r in range(0,row):
        print(" "*(row-r-1)+'* '*(r+1))
pyramid(4)

   *
  * *
 * * *
* * * *

In [2]:
def diamond(row):
    for i in range(0,row):
        print(" "*(row-i-1)+"* "*(i+1))
    for j in range(row-1,0,-1):
        print(" "*(row-j)+"* "*(j))
        
diamond(4)  

diamond(7)

   *
  * *
 * * *
* * * *
 * * *
  * *
   *
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *